.header {
    background-color: red;
}


.btn-login {
    border: none;
    background: none;
    color: white;
}

.logo-logIn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}


.filters {
    display: flex;
    align-items: end;
    gap: 10px;
}

.filter-group {
    display: flex;
    flex-direction: column;

    .filter-search {
        width: 252.50px;
        height: 40px;
        position: relative;
        background: white;
        border-radius: 8px;
        border: none;
        outline-offset: -1px;
        padding: 0;
        padding-left: 10px;
        &:focus{
            outline: none;
        }
    }


    .select-genres {
        -webkit-appearance: none;
        /* Убирает стандартную стрелку в Chrome/Safari */
        -moz-appearance: none;
        /* Убирает стандартную стрелку в Firefox */
        appearance: none;
        /* Убирает стандартную стрелку в современных браузерах */
        background-image: none;
        /* Убирает стрелку в IE */
        width: 100%;
        height: 50px;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        height: 40px;

        &:focus {
            outline: none;
        }

        & {
            color: #343B4C;
            font-size: 18px;
            font-family: Fira Sans;
            font-weight: 400;
            word-wrap: break-word;
        }


        .option-genres {
            color: #343B4C;
            font-size: 18px;
            font-family: Fira Sans;
            font-weight: 400;
            line-height: 38px;
            word-wrap: break-word;
        }
    }
}

.filter-group {
    display: flex;
    flex-direction: column;
}


.apply-button{
    width: 100px;
    height: 40px;
    border-radius: 8px;

}