.back-button{
    width: fit-content;
    height: 30px;   
    padding: 10px  10px  ;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: none;
    position: relative;
    
}
.back-image{
    display: flex;
 
    
    .detail-poster{
        width: 500px;

    }
}

.movie-details{
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    padding-top: 20px;
}

.detailes-item{
    display: flex;
    gap: 50px;
}


.history-link{
    text-decoration: none;
    color: white;
    border: 10px;
}

.btn-history{
    height: 40px;
    background-color: red;
    border: none;
    width: 150px;
    border-radius: 8px;
}

.title-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.load-more-button{
    width: 150px;
    height: 40px;
}

.load-more-container{
    display: flex;
    gap: 20px;


    .load-more-button{
        border-radius: 8px;
        background-color: white;
        border: none;

        &:hover{
            animation: ButtonHover  0.2s ease forwards;;
            
            .book-button{
                color: black;
            }
        }
    }
}

.App{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ticket-btn{
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    transition: ButtonHover 0.2s ease;

    border-radius: 8px;
    .book-button{

        text-decoration: none;
    }


    &:hover{
        animation: ButtonHover  0.2s ease forwards;;
        
        .book-button{
            color: black;
        }

    }
}

@keyframes ButtonHover{
    0%{
        background-color: red;
        opacity: 0.1;

    }
    25%{
        background-color: red;
        opacity: 0.3;
    }
    55%{
        background-color: red;
        opacity: 0.5;
    }
    75%{
        background-color: red;
        opacity: 0.7;
    }
    100%{
        background-color: red ;
               opacity: 1;
    }

}



.link-btn{
    text-decoration: none;
    color: white;
}